@{
    ViewData["Title"] = "CheckYourEmailInbox";
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}

<h1>Resetting Password</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
        <div class="body">
            <h3>We Have Sent You The Reset Link To Your Account, Please Check Your Email Inbox</h3>
            <p class="my-5"><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Go To Your Inbox</a></p>
        </div>
	</div>
</div>

