@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}

<div asp-validation-summary="ModelOnly"></div>
<h1>Forget Password</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login" method="post">
			<input class="text email" type="email" name="email" placeholder="Email" required="" asp-for="Email">
			<span asp-validation-for="Email" class="text-danger my-3"></span>
			<input type="submit" value="Send Email" asp-action="ForgetPassword">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}