@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}

<div asp-validation-summary="ModelOnly"></div>
<h1>@ViewData["Title"]</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<input class="text my-3" type="password" name="NewPassword" placeholder="New Password" required="" asp-for="NewPassword">
			<span asp-validation-for="NewPassword" class="text-danger my-3"></span>
			<input class="text my-3" type="password" name="ConfirmNewPassword" placeholder="Confiirm Password" required="" asp-for="ConfirmNewPassword">
			<span asp-validation-for="ConfirmNewPassword" class="text-danger my-3"></span>
			<input type="submit" value="Confirm" asp-action="ResetPassword">
		</form>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}