<div class="col-lg-10">
    <div>
        <input class="form-control" placeholder="Search By Name .... " name="searchQuery" id="searchInput" />
    </div>
</div>
<div class="col-lg-2">
    <div class="w-100">
        <button class="btn btn-success" type="submit">Search</button>
    </div>
</div>